.logo-img{
    width: 120px;
    height: 120px;
    // margin-left: -180px;
}

  #currentWord span {
    display: inline-block;
    margin: 0 10px;
  }
  
  #letters {
    color: white;
    letter-spacing: 5px;
    // margin: 20px auto 0;
    text-align: center;
    width: 400px;
  }
.imgTeam{
  filter: blur(20px);
}
.input{
  display:none;
}

  
